<h1>Sign In, Yo</h1>
<form action="<%=session_url%>" method="POST">
    <label for="user[email]">Email/Username:
        <input type="text" name=user[email]>
    </label>
    
    <br>

    <label for="user[password]">Password:
        <input type="password" name=user[password]>
    </label>

    <br>

    <input type="submit" value="Log in">
</form>